html,
body,
section,
.page-body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #a6a6a6;
  background-color: #181717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-content {
  margin-top: 241px;
  min-width: 1024px;
}

.buttonDefault {
  background-color: #ac6bed !important;
  color: #fff !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  &:hover {
    background-color: #8a3ab9 !important;
  }
  &:active {
    background-color: #6f2e98 !important;
  }
}

.buttonOutline {
  background-color: transparent !important;
  color: #ac6bed !important;
  border: 1px solid #ac6bed !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  &:hover {
    border: 1px solid #8a3ab9 !important;
    color: #8a3ab9 !important;
  }
  &:active {
    border: 1px solid #6f2e98 !important;
    color: #6f2e98 !important;
  }
}

.closeIcon {
  position: absolute;
  right: -4px;
  top: -40px;
  cursor: pointer;
  transition: all ease 0.2s;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  &:hover {
    background-color: #e1e1e1;
  }
  &:active {
    background-color: #c1c1c1;
  }
}

@media screen and (max-width: 1023px) {
  .body-content {
    margin-top: 24px;
    min-width: 100%;
  }
}
